# Introducción

Python permite trabajar con fechas de una forma fácil utilizando el módulo `datetime` y los objetos especiales de tipo `date`. Gracias a ello, nos podemos olvidar de las particularidades que tienen ciertos cálculos cuando se trabaja con fechas, como pueda ser la duración de los meses, la aparición de años bisiestos o la numeración de las semanas, por citar algunos ejemplos.

Nuestro punto de partida será la función `date`.

In [1]:
from datetime import date
from datetime import datetime

Obtenemos la fecha actual:

In [4]:
hoy = date.today()

In [17]:
type(hoy)

datetime.date

In [18]:
print(hoy)

2018-09-06

In [7]:
print("La fecha actual es {}".format(hoy))

La fecha actual es 2018-09-06

Podemos cambiar el formato de la fecha, por ejemplo sustituyendo los guiones por barras usando el método strftime. Devuelve un String.

In [9]:
hoy.strftime("%Y/%m/%d")

'2018/09/06'

Cada elemento de la fecha está representado por la combinación del símbolo de porcentaje `"%"` y una letra. En nuestro caso:
- `%d` representa el día del mes.
- `%m` representa el mes.
- `%Y` representa el año.

Por ejemplo, podríamos también pasar de formato de año largo a uno corto cambiando `"%Y"` por `"%y"`

In [10]:
hoy.strftime("%y/%m/%d")

'18/09/06'

O incluso podemos cambiar el número del mes por su nombre en inglés utilizando `"%B"`

In [11]:
hoy.strftime("%Y/%B/%d")

'2018/September/06'

Por supuesto, podremos cambiar el orden de cada elemento según nuestras preferencias:

In [12]:
hoy.strftime("%d/%m/%Y")

'06/09/2018'

También podemos trabajar con la fecha y la hora

In [13]:
ahora = datetime.now()
print(ahora)

2018-09-06 09:50:16.607012

De forma similar a la fecha, los elementos referidos a la fecha vienen representados por el mismo conjunto de letras, mientras que los de la hora lo hacen por defecto por el siguiente conjunto:

- `%H` representa la hora.
- `%M` representa los minutos.
- `%S` representa los segundos.
- `%f` representa los microsegundos.

In [14]:
ahora.strftime("%d/%m/%Y %H:%M:%S.%f")

'06/09/2018 09:50:16.607012'

No es obligatorio declarar todos los elementos que componen el objeto `datetime` cuando cambiamos el formato, pero obviamente los que no se declaren no aparecerán. Así, si no queremos que en nuestra variable aparezcan los milisegundos, es tan fácil eliminar esa parte cuando creamos el formato.

In [15]:
ahora.strftime("%d/%m/%Y %H:%M:%S")

'06/09/2018 09:50:16'

# Componentes objeto datetime

Si en vez de imprimir por pantalla la variable `hoy` mostramos el objeto en sí, lo que obtenemos es una tupla:

In [16]:
hoy

datetime.date(2018, 9, 6)

Esto nos va a permitir acceder fácilmente a cada elemento de la fecha y a poder trabajar cómodamente con cada uno de sus componentes.

In [51]:
hoy.year

2018

In [52]:
hoy.month

8

In [53]:
hoy.day

6

In [26]:
ahora

datetime.datetime(2018, 8, 6, 10, 10, 14, 560944)

In [54]:
ahora.hour

9

In [55]:
ahora.minute

48

In [57]:
ahora.second

54

Se puede también obtener información más compleja del objeto `datetime` que no aparece en la tupla que vemos por pantalla como puede ser el día de la semana.

In [20]:
ahora.weekday()

3

El primer día de la semana será en nuestro caso el lunes y, como siempre en Python, se empieza a contar desde cero.

Es especialmente útil el método `isocalendar()` cuando se trabaja con semanas, puesto que el cálculo de la semana en curso no es tan trivial como pueda parecer.

In [31]:
ahora.isocalendar()

(2018, 32, 1)

El primer elemento de la tupla es el año ISO, el segundo es la semana ISO y el tercer elemento es el día ISO.

In [34]:
print('La semana ISO actual es {}'.format(ahora.isocalendar()[1]))

La semana ISO actual es 32

# Operaciones sencillas con fechas

Python nos permite (entre otras operaciones) añadir y sustraer fácilmente periodos temporales a cualquier fecha usando la función `timedelta`.

In [22]:
from datetime import timedelta

mañana_1 = ahora + timedelta(hours=24)

In [23]:
print(mañana_1)

2018-09-07 09:50:16.607012

In [24]:
mañana_2 = ahora + timedelta(days=1)
print(mañana_2)

2018-09-07 09:50:16.607012

Lo realmente interesante de los objetos de tipo `datetime` es que poseen la lógica de las operaciones con fechas, por lo que no nos tenemos que preocupar de los días que tiene un mes o de los años bisiestos, puesto que será el propio Python quien se encargue de estas consideraciones:

In [28]:
print(ahora+timedelta(days=31))

2018-10-07 09:50:16.607012

Se puede ver que al añadir 31 días a nuestra fecha actual, Python se encarga él sólo de determinar si el mes posee 30 o 31 días y sumará tantas unidades al mes como sea necesario.

Sin embargo, no podremos añadir meses completos usando el argumento months.

In [133]:
print(ahora+timedelta(months=1))

TypeError: 'months' is an invalid keyword argument for this function

Para ello podemos recurrir al objeto `relativedelta`

In [30]:
from dateutil.relativedelta import relativedelta

In [31]:
print(ahora+relativedelta(months=2))

2018-11-06 09:50:16.607012

También podemos obtener la diferencia (en segundos o en días) entre dos fechas

In [32]:
otra_fecha = ahora + timedelta(days=15,hours=3,seconds=7)

In [33]:
resta=(otra_fecha-ahora)

In [34]:
resta.seconds

10807

# Cómo convertir texto a fecha

Casi siempre nos vamos a encontrar con la necesidad de querer convertir una cadena de caracteres a un objeto `datetime`.

In [35]:
fecha = '12/09/2018'

En este caso podemos hacer uso del método `strptime` contenido en la clase `datetime`.

In [36]:
datetime.strptime(fecha,"%d/%m/%Y")

datetime.datetime(2018, 9, 12, 0, 0)

Aquí lo que estamos pasando como argumento es el formato de fecha que tiene nuestra cadena de caracteres, para que Python pueda identificar qué es cada elemento y pueda así crear el objeto `datetime` correctamente.

Por defecto, Python nos añade la hora 00:00 si no declaramos la parte horaria. Para evitar si nos interesa trabajar únicamente con la fecha, podemos usar el método `date`.

In [37]:
datetime.strptime(fecha,"%d/%m/%Y").date()

datetime.date(2018, 9, 12)

In [38]:
hora = '12-09-18 15:23:11'
datetime.strptime(hora,"%d-%m-%y %H:%M:%S")

datetime.datetime(2018, 9, 12, 15, 23, 11)

# Pandas

In [39]:
import pandas as pd

Pandas incorpora sus propios métodos para tratar con columnas de tipo fecha o para cambiar una columna de tipo *string* a otra de tipo *datetime64*.

In [40]:
df = pd.DataFrame({'index':[0,1],'fecha':['12-09-18 15:23:11','23-09-18 17:21:45']})

In [41]:
df.dtypes

fecha    object
index     int64
dtype: object

`fecha` es en este caso un objeto de tipo *string*. Si queremos convertirlo a otro de tipo 'fecha' podemos hacerlo con el método `to_datetime`.

In [43]:
df.fecha = pd.to_datetime(df.fecha,format='%d-%m-%y %H:%M:%S')

In [44]:
df

                fecha  index
0 2018-09-12 15:23:11      0
1 2018-09-23 17:21:45      1

In [45]:
df.dtypes

fecha    datetime64[ns]
index             int64
dtype: object

Podemos ver que cambia a *datetime64[ns]*.

In [46]:
df = pd.DataFrame({'index':[0,1],'fecha':['18/09/19 15:23:11','18/09/23 17:21:45']})

In [47]:
df.fecha = pd.to_datetime(df.fecha,format='%y/%m/%d %H:%M:%S')

In [48]:
df

                fecha  index
0 2018-09-19 15:23:11      0
1 2018-09-23 17:21:45      1

Pandas siempre representa las fechas de la forma `%Y-%m-%d` por lo que si queremos que utilice otro formato, hay que cambiarlo tras convertir la columna de *string* a *datimetime64*.

In [49]:
df.fecha = df.fecha.dt.strftime('%d %B %Y')
df

               fecha  index
0  19 September 2018      0
1  23 September 2018      1

In [50]:
df.dtypes

fecha    object
index     int64
dtype: object

Pero en este caso la columna vuelve a convertirse en string, por lo que perderemos los métodos propios de las fechas.

In [51]:
df = pd.DataFrame({'index':[0,1],'fecha':['18/09/19 15:23:11','18/09/23 17:21:45']})
df.fecha = pd.to_datetime(df.fecha,format='%y/%m/%d %H:%M:%S')

Si necesitamos añadir o sustraer un periodo de tiempo a nuestra fecha, `timedelta` es totalmente compatible con pandas (no así `relativedelta`).

In [53]:
df.fecha_3 = df.fecha + timedelta(days=3)

/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

Para extraer cada parte que compone la fecha, pandas implementa sus propios métodos a partir del objeto `dt`.

In [146]:
df.fecha.dt.year

0    2018
1    2018
Name: fecha, dtype: int64

In [147]:
df.fecha.dt.day

0    19
1    23
Name: fecha, dtype: int64

# Ejercicio

## Ejercicio 1

A partir de la siguiente lista de fechas, crea un dataframe donde aparezca la fecha original, el año, el día de la semana (Lunes, Martes, etc.) y el día de la semana que tendría esa fecha pero un año después. No utilices por ahora ningún método de pandas para trabajar con fechas.

In [1]:
fechas = ['19/09/1977','03/10/1980','21/11/1983','20/08/1999','17/05/2002','19/05/2005','18/12/2015','14/12/2017']

In [4]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd

In [5]:
# Respuesta

años =[datetime.strptime(x,'%d/%m/%Y').year for x in fechas]
dia_semana = [datetime.strptime(x,'%d/%m/%Y').weekday() for x in fechas]

dict_dias = {0:'Lunes',1:'Martes',2:'Miércoles',3:'Jueves',4:'Viernes',5:'Sábado',6:'Domingo'}

dia_semana_string = list(map(lambda x: dict_dias.get(x), dia_semana))

fechas_datetime = [datetime.strptime(x,'%d/%m/%Y') for x in fechas]

dia_semana_1 = list(map(lambda x: (x + relativedelta(years=1)).weekday(),fechas_datetime))

dia_semana_string_1=[dict_dias.get(x) for x in dia_semana_1]

fechas_df = pd.DataFrame({'fechas':fechas_datetime,'año':años,'dia_semana':dia_semana_string,'dia_semana_1_año':dia_semana_string_1})
fechas_df

    año dia_semana dia_semana_1_año     fechas
0  1977      Lunes           Martes 1977-09-19
1  1980    Viernes           Sábado 1980-10-03
2  1983      Lunes        Miércoles 1983-11-21
3  1999    Viernes          Domingo 1999-08-20
4  2002    Viernes           Sábado 2002-05-17
5  2005     Jueves          Viernes 2005-05-19
6  2015    Viernes          Domingo 2015-12-18
7  2017     Jueves          Viernes 2017-12-14

Utilizando el data frame resultante, añade el mes y el día del mes usando métodos de pandas y calcula también (usando el método que prefieras) el número de días y el de años que han transcurrido desde entonces hasta hoy.

In [6]:
# Respuesta

fechas_df['mes']=fechas_df['fechas'].dt.month
fechas_df['dia']=fechas_df['fechas'].dt.day

diferencia = datetime.today().date()-fechas_df['fechas']
fechas_df['dias_transcurridos']=diferencia

fechas_df['años_transcurridos']=list(map(lambda x: relativedelta(datetime.today().date(),x).years,fechas_df['fechas']))

Añade las dos siguientes columnas al data frame y anterior y reordénalas para que aparezca la fecha, el título, la puntuación, el año de estreno y los años que han transcurrido

In [7]:
star_wars = pd.DataFrame({'titulo':['Una nueva esperanza','El imperio contraataca','El retorno del jedi',
                                    'La amenaza fantasma','El ataque de los clones','La venganza de los sith',
                                    'El despertar de la fuerza','Los últimos jedi'],
                         'nota':[8.6,8.8,8.3,6.5,6.6,7.6,8,7.3]})

In [8]:
# Respuesta

star_wars = pd.concat([star_wars,fechas_df[['fechas','año','años_transcurridos']]],axis=1)
star_wars = star_wars[['fechas','nota','titulo','año','años_transcurridos']]

star_wars=star_wars.rename(columns={'año':'fecha_estreno','fechas':'fecha'})
star_wars

,fecha,nota,titulo,fecha_estreno,años_transcurridos
0,1977-09-19,8.6,Una nueva esperanza,1977,40
1,1980-10-03,8.8,El imperio contraataca,1980,37
2,1983-11-21,8.3,El retorno del jedi,1983,34
3,1999-08-20,6.5,La amenaza fantasma,1999,19
4,2002-05-17,6.6,El ataque de los clones,2002,16
5,2005-05-19,7.6,La venganza de los sith,2005,13
6,2015-12-18,8.0,El despertar de la fuerza,2015,2
7,2017-12-14,7.3,Los últimos jedi,2017,0